@import "_nullstyle";
@import "_fonts";

[class*="__container"] {
  max-width: 1887px;
  margin: 0 auto;
  padding: 0px 15px;
}

/*=======================variable======================*/
$fairyColor: #e7e7e0;
$index: calc(1vw + 1vh);
/**/
@import "_header";
@import "_footer";

body {
  font-size: 18px;
  font-family: Releway_f;
  background-color: black;
  color: $fairyColor;
  line-height: calc($index * 2);
}

/*============================galery===============================*/

.galery {
  background-image: url(../img/background/dungeon.jpg);
  background-size: cover;
}

.galery__container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galery__block-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.galery__title {
  font-size: calc($index * 1.5);
  transform: translate3d(0, calc(var(--scrollTop) / -10.5), 0);
  will-change: transform;

  @media (max-width: 1087px) {
    margin-top: 50px;
  }

  @media (max-width: 767.98px) {
    font-size: calc($index * 3.5);
    margin-top: 110px;
    line-height: calc($index * 3.5);
    text-align: center;
  }
}

.galery__wrapper {
  display: flex;
  gap: 20px;
  transform: translate3d(0, calc(var(--scrollTop) / -10.5), 0);
  will-change: transform;

  @media (max-width: 1087px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (max-width: 767.98px) {
    gap: 50px;
  }
}

.galery__project {
  max-width: 300px;
}

.galery__project_layout-corona {}

.galery__opacity-block {
  position: relative;
  width: 300px;
  height: 260px;
  margin-bottom: 10px;

  @media (max-width: 767.98px) {
    width: 250px;
    height: 210px;
    margin-bottom: 20px;
  }
}

.galery__opacity-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 1;

  &:hover {
    opacity: 0;
    z-index: 0;
  }
}

.galery__image {
  width: 300px;
  height: 260px;
  position: absolute;
  z-index: 0;

  &:hover {
    width: 310px;
    height: 270px;
    z-index: 1;
  }

  @media (max-width: 767.98px) {
    width: 250px;
    height: 210px;
  }
}

.galery__description {
  line-height: $index;
  text-align: center;
  font-size: calc($index / 1.2);

  @media (max-width: 767.98px) {
    font-size: calc($index / 0.8);
  }
}

.galery__link-description {
  color: #3cf7c8;
  text-shadow: 0px 0px 25px #242019;
}

.galery__project_wheather {}

.galery__project_generatePass {}

/*===============================stack============================*/

.stack {
  background-image: url(../img/background/dungeon.jpg);
  background-size: cover;
}

.stack__container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.stack__title {
  font-size: calc($index * 1.5);
  transform: translate3d(0, calc(var(--scrollTop) / -10.5), 0);
  will-change: transform;

  @media (max-width: 767.98px) {
    font-size: calc($index * 3.5);
  }
}

.stack__wrapper {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  gap: 20px;
  transform: translate3d(0, calc(var(--scrollTop) / -10.5), 0);
  will-change: transform;

  @media (max-width: 767.98px) {
    grid-template-columns: repeat(4, 100px);
  }

  @media (max-width: 479.98px) {
    grid-template-columns: repeat(3, 80px);
  }
}

.stack__block-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stack__skills-image {
  &:hover {
    width: 70px;
    height: 70px;
  }

  &:hover~.stack__description-skills {
    font-size: 25px;
    text-shadow: 0px 0px 25px rgb(255, 230, 0);
  }
}

.stack__description-skills {
  text-align: center;
  padding-top: 10px;
}

.stack__description-skills_no-image {
  &:hover {
    font-size: 25px;
    text-shadow: 0px 0px 25px rgb(255, 230, 0);
  }
}

/*===============================contacts============================*/

.contacts {
  background-image: url(../img/background/dungeon.jpg);
  background-size: cover;
}

.contacts__container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.contacts__title {
  font-size: calc($index * 1.5);
  transform: translate3d(0, calc(var(--scrollTop) / -10.5), 0);
  will-change: transform;

  @media (max-width: 767.98px) {
    font-size: calc($index * 3.5);
  }
}

.contacts__list {
  display: flex;
  gap: 30px;
  transform: translate3d(0, calc(var(--scrollTop) / -10.5), 0);
  will-change: transform;

  @media (max-width: 767.98px) {
    flex-direction: column;
    gap: 70px;
  }
}

.contacts__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contacts__image-social {}

.contacts__image-social_git {
  width: 28px;
  height: 28px;
}

.contacts__link {
  color: #3cf7c8;
  text-shadow: 0px 0px 25px #242019;
  font-size: calc($index * 0.7);

  @media (max-width: 767.98px) {
    font-size: calc($index * 2.7);
  }
}

.contacts__image-phone {
  width: 24px;
}

.contacts__phone {
  color: #3cf7c8;
  text-shadow: 0px 0px 25px #242019;
  font-size: calc($index * 0.7);

  @media (max-width: 767.98px) {
    font-size: calc($index * 2.7);
  }
}